@use 'mixins';
@use 'variables' as var;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}
.fa,
.fa-regular,
.fa-heart {
	color: var.$normal-button-color;
	display: flex;
	align-items: center;
	span {
		font-size: 12px;
	}
	&.fa-lg {
		width: 20px;
		height: 20px;
	}
	&:hover {
		color: var.$active-button-color;
		span {
			color: var.$normal-button-color;
		}
	}
}

.fa-solid {
	color: var.$active-button-color;
	span {
		font-weight: 400;
		color: var.$normal-button-color;
	}
	&.fa-lg {
		width: 20px;
		height: 20px;
	}
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.menu-bar {
	height: 84px;
	background-color: #192140;
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 0px 80px;

	.menu-buttons {
		display: flex;
		gap: 30px;
		margin-left: auto;
		align-items: center;

		&.mobile {
			display: none;
		}
		.menu-button {
			@include mixins.menu-button;
		}
		.user-action {
			display: flex;
			gap: 20px;
			margin-left: 30px;

			.user-action-button {
				display: flex;
				color: #9d9db5;
				font-weight: 700;
				align-items: center;
				&#log-in,
				&#menu-button {
					@include mixins.user-action-button;
				}
			}
		}
	}
}
.main-container {
	display: flex;
	margin-bottom: 57px;
	justify-content: center;
}
.news-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
	margin-top: 60px;
	.news-card {
		&.card-1 {
			@include mixins.news-card(url('images/Image-8.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-2 {
			@include mixins.news-card(url('images/Image-7.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-3 {
			@include mixins.news-card(url('images/Image-6.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-4 {
			@include mixins.news-card(url('images/Image-5.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-5 {
			@include mixins.news-card(url('images/Image-4.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-6 {
			@include mixins.news-card(url('images/Image-3.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-7 {
			@include mixins.news-card(url('images/Image-2.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-8 {
			@include mixins.news-card(url('images/Image-1.png'), var.$news-card-width, var.$news-card-height);
		}
		&.card-9 {
			@include mixins.news-card(url('images/Image.png'), var.$news-card-width, var.$news-card-height);
		}
	}
}

footer {
	width: 100%;
	height: 274px;
	background-color: var.$tertiary-color;
	display: flex;
	gap: 200px;
	justify-content: center;
	align-items: center;

	.footer-left-side,
	.footer-right-side {
		display: flex;
		flex-direction: column;
		gap: 40px;
		.footer-content {
			display: flex;
			flex-direction: column;
			.footer-content-title {
				color: white;
				font-size: 16px;
				font-weight: 700;
			}
			.footer-content-list {
				a {
					margin-right: 20px;
					font-size: 12px;
					color: var.$main-font-color;
				}
			}
			.footer-note {
				color: white;
				opacity: 0.4;
				font-size: 12px;
				margin-right: 10px;
				font-weight: 400;

				&.privacy-policy::after {
					margin-left: 5px;
					content: '·';
				}
			}
			&.social-media {
				font-weight: 400;
				.footer-content-title {
					font-weight: 400;
				}
				.social-media-links {
					display: flex;
					flex-direction: row;
					gap: 15px;
					.social-media-link {
						&.linkedin {
							@include mixins.social-media-links(url('images/social-media/linkedin.png'));
						}
						&.instagram {
							@include mixins.social-media-links(url('images/social-media/instagram.png'));
						}
						&.facebook {
							@include mixins.social-media-links(url('images/social-media/facebook.png'));
						}
						&.twitter {
							@include mixins.social-media-links(url('images/social-media/twitter.png'));
						}
						&.whatsapp {
							@include mixins.social-media-links(url('images/social-media/whatsapp.png'));
						}
						&.tiktok {
							@include mixins.social-media-links(url('images/social-media/tiktok.png'));
						}
						&.youtube {
							@include mixins.social-media-links(url('images/social-media/youtube.png'));
						}
					}
				}
			}
			&.legality {
				margin-top: 36px;
				flex-direction: row;
			}
		}
	}
}

@media screen and (max-width: 426px) {
	.menu-bar {
		align-items: flex-end;
		height: 70px;
		padding: 20px 15px;

		.menu-buttons {
			display: none;
			&.mobile {
				display: block;
				.user-action {
					.user-action-button {
						padding: 15px !important;
					}
				}
			}
		}
	}
	.news-container {
		margin-top: 40px;
		grid-template-columns: 1fr;
		.news-card {
			&.card-1 {
				@include mixins.news-card(url('images/Image-8.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-2 {
				@include mixins.news-card(url('images/Image-7.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-3 {
				@include mixins.news-card(url('images/Image-6.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-4 {
				@include mixins.news-card(url('images/Image-5.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-5 {
				@include mixins.news-card(url('images/Image-4.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-6 {
				@include mixins.news-card(url('images/Image-3.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-7 {
				@include mixins.news-card(url('images/Image-2.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-8 {
				@include mixins.news-card(url('images/Image-1.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
			&.card-9 {
				@include mixins.news-card(url('images/Image.png'), var.$mobile-news-card-width, var.$mobile-news-card-height);
			}
		}
	}
	footer {
		height: 429px;
		gap: 40px;
		flex-direction: column;
		justify-content: left;

		.footer-left-side {
			margin-top: 40px;
		}

		.footer-left-side,
		.footer-right-side {
			gap: 20px;
			width: 290px;
			padding: 0px 20px;
			align-items: center;
			justify-content: center;
			.footer-content {
				width: 260px;
				.footer-content-list {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					a {
						margin-right: none;
						font-size: 12px;
						color: var.$main-font-color;
					}
				}
				&.social-media {
					.footer-content-title {
						color: var.$normal-button-color;
						font-size: 12px;
					}
					.social-media-links {
						display: flex;
						flex-direction: row;
						gap: 12px;
						.social-media-link {
							background-size: 100% !important;
							background-repeat: no-repeat !important;
						}
					}
				}
				&.legality {
					flex-wrap: wrap;
					gap: 5px 0px;
					margin: 0;
					.branding {
						width: 100%;
					}
				}
			}
		}
	}
}
