$main-color: #dcf10d;
$secondary-color: #192140;
$tertiary-color: #10131c;
$main-font-color: #d7f8ff;
$normal-button-color: #9d9db5;
$active-button-color: #0266ff;
$date-color: #c0bfcf;
$card-color: #f8f9fc;

$news-card-width: 320px;
$news-card-height: 300px;
$mobile-news-card-width: 290px;
$mobile-news-card-height: 250px;
